<h1 style="text-align: left">Sample Ballot</h1>
<h2><%= @issue.title %></h2>
<p><%= @issue.description %></p>
<h3>Choices</h3>
<ul>
  <% @issue.choices.each do |choice| %>
    <li>
      <%= choice.title %>
      <% unless choice.party.nil? %>
      <ul>
        <li>
          Party:<%= choice.party %>
        </li>
      </ul>
      <% end %>
    </li>
  <% end %>
</ul>
