
<h1>Issues#index</h1>
<p>Find me in app/views/issues/index.html.erb</p>

<% @issues.each do |issue| %>
	<div class="row">
		<div class="col-md-12">
		    <h2>
		      <%= issue.title %>
		      <%= link_to issue_path(issue) do %>
		      	<i class="fa fa-question-circle"></i>
		      <% end %>
		    </h2>
	    </div>
    </div>
	<div class="row">
		<% issue.choices.each do |choice| %>
			<div class="col-md-3">
				<strong><%= choice.title %></strong>
          	</div>
		<% end %>
    </div>
<% end %>

<%= link_to 'Ready to vote?', new_vote_path %>