<h1 style="text-align: left"; color="blue">Issues</h1>
<p>This is a list of all national and state issues and possible candidates. For more information, click on the link.</p>
<p>When you are ready to vote, click the "Vote Now" link- But make sure you've registered first!</p>

<% @issues.each do |issue| %>
	<div class="row">
		<div class="col-md-12">
		    <h2>
		      <%= issue.title %>
		      <%= link_to issue_path(issue) do %>
		      	<i class="fa fa-question-circle"></i>
		      <% end %>
		    </h2>
	    </div>
    </div>
	<div class="row">
		<% issue.choices.each do |choice| %>
			<div class="col-md-3">
				<strong><%= choice.title %></strong>
          	</div>
		<% end %>
    </div>
<% end %>
<br/>
<h1 style="text-align: left"><%= link_to "Vote Now", new_vote_path, class: "btn btn-default" %></h1>
