<h1>Issues</h1>
<p>Find me in app/views/issues/show.html.erb</p>

<h2><%= @issue.title %></h2>
<p><%= @issue.description %></p>
<h3>Votes</h3>
<ul>
  <% @issue.choices.each do |choice| %>
    <li>
      <%= choice.title %>: <%= choice.votes.count %>
    </li>
  <% end %>
</ul>