<h1>CLETeenVote: Cleveland Teen Civic Engagement. Teens, be heard! #CLETeenHack</h1>
<div class="container-fluid">
 

<!--this is our large picture-->
    <div class="row">
        <div class="col-md-12">
            <img src="/assets/janeAddamsPics/JaneAddams.jpg" class="img-responsive" alt="CLETeenHack CLETeenVote Cleveland High School Inclusive Hackathon. AT&T. We Can Code IT."/>
        </div>
    </div>

        
                                        <!-- Kendale/Jamir-->
                                        
             <!--election-->
            <div class="row" >
                <div class="col-md-9">
                    <!-- enter header box contents below-->
                    <h1>2016 Election</h1>
                </div>
                <div class="col-md-3">
                    <!--vote now image here-->
                    
              <!-- Vote Now Button -->
                  <a href="/votes/new"> <!-- link to vote now page -->
                      <img src="/assets/janeAddamsPics/vote image button.jpg" class="img-responsive"/> 
                  </a>
         
                </div>
            </div>
            
            
            <!--This is where the party title and 3 candidates go-->
            <div class="row">
             
                 <div class="col-md-12">
                   <h1> Democrat
                   </h1>
                 </div>
             
                 <div class="col-md-2 col-md-offset-2">
                 <!--enter candidate picture below-->  
                 <img src="/assets/janeAddamsPics/SandersBernie.jpg" class="img-responsive" alt="Bernie Sanders"/>
                 </div>
                
                 <div class="col-md-2">
                 <!--enter candidate picture below-->  
                 <img src="/assets/janeAddamsPics/hillary clinton.jpg" class="img-responsive" alt="Hillary Clinton"/>
                 </div>
             
                 <div class="col-md-2">
                 <!--enter candidate picture below-->  
                 <img src="/assets/janeAddamsPics/LincolnChafee.jpg" class="img-responsive" alt="Lincoln Chafee"/>
                 </div>
            
                <div class="col-md-2">
                    <img src="/assets/janeAddamsPics/WebbJim.jpg" class="img-responsive" alt="Jim Webb"/> 
                </div>
                
                <div class="col-md-2">
                    <img src="/assets/janeAddamsPics/OMalleyMartin.jpg" class="img-responsive" alt="Martin O'Malley"/>
                </div>
            
        
            </div><!--end of row-->
     
     
            <!--democrates canidates-->
          
            <div class="row" style= "background-color: white"> 
                <div class="col-md-12">
                   <h1>Republican</h1>
                </div>
            
                <div class="col-md-2 col-md-offset-2">
                <!--enter candidate picture below-->  
                <img src="/assets/janeAddamsPics/TrumpDonald.jpg" class="img-responsive" alt="Donald Trump"/>
                </div>
                
                <div class="col-md-2">
                <!--enter candidate picture on below-->
                <img src="/assets/janeAddamsPics/KasichJohn.jpg"  class="img-responsive" alt="John Kasich"/>
                </div>
                
                <div class="col-md-2">
                <!--enter candidate picture on below-->  
                <img src="/assets/janeAddamsPics/CruzTed.jpg" class="img-responsive" alt="Ted Cruz"/>
                </div>
                
                <div class="col-md-2">
                    <img src="/assets/janeAddamsPics/CarsonBen.jpg"  class="img-responsive" alt="Ben Carson"/>
                </div>
                
                <div class="col-md-2">
                    <img src="/assets/janeAddamsPics/RubioMarco.jpg"  class="img-responsive" alt="Marco Rubio"/>
                </div>
            </div><!--end of row-->
    
                                        <!-- Kendale/Jamir end-->
    
    
    
    
    
    
    
      
    
    
    
                                        <!--Daija-->
    
    <div class="row" margin-top="20px";>
            
            <div class="col-md-4">
                
             <img src="/asets/janeAddamsPics/voices.jpg" class="img-responsive" alt="Voice Your Opinion"/>
             <!--text here-->
             <h1>voice your <br>opinion</h1>
             <p class="copy">For many of us, teens being unable to vote yet may seem unfair,but our voices count.
                Just because of our age difference it doesnt mean we cant be involved in government choices, such as voting.
                You have the oppritunity to reflect on the generations to come</p>
             </div>
            
             <div class="col-md-4">
              
              <img src="/assets/janeAddamsPics/learn about the canidates.jpg" class="img-responsive" alt="Responsive image" />
              <h1>learn about <br>the candidates</h1>
              <p class="copy">These are American citizens that are being considered for a position to better our nation by lowing unemployment , making it possible
              for citizens to have health care insurance, lower the rate of poverty and other issues facing our nations future.</p>
             
             </div>
             
             <div class="col-md-4">
             <img src="/assets/janeAddamsPics/learn about issues.jpg" class="img-responsive" alt="Responsive image"/>
               <h1>learn about<br> the issues</h1>
              <p class="copy" >Government Issues are important topics or problems that are debated or discussed by the citizens and legislators of our nation. Examples of our nations issues are bullying , child abuse , unemplyment , voting rights , poverty and hate crimes.</p>
    
            </div>
        </div>
</div><!--closing main container-->
       

<%= link_to 'Admin', rails_admin_path %> |
<%= link_to 'Issues', issues_path %> |
<a href="/api/docs">API Documentation</a>
