
<h1>Home</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p>Under Construction</p>
<%= link_to 'Admin', rails_admin_path %> |
<%= link_to 'Issues', issues_path %> |
<a href="/api/docs">API Documentation</a>
