<script type="text/javascript">
document.getElementById('resourcesTab').id = 'selected'
</script>

<!--add your CSS in the style tag-->
<style>
  body{
        background-image: url("/assets/janeAddamsPics/american_flag.jpg");
        background-attachment: fixed; 
      
  } 
</style>

<!--big resource picture banner here-->
<div class="row">
	<div class="col-md-12" align="center">
	    <img src="/assets/janeAddamsPics/resources.jpg" class="img-responsive" height="380" border="10"/>
	</div>
</div></br>
    
     <div class="row">
        
        <div class="col-md-4">
          <!--enter candidate picture below-->  
         <center>
         <a href="http://boe.cuyahogacounty.us/en-us/my-polling-location.aspx">
            <img src="/assets/janeAddamsPics/vote 2012.jpg" class="img-responsive"  height="78" alt="Cuyahoga County Polling Locations"/>
         <h4><b>where to vote</b></h4></a>
         </center>
        </div>
        <div class="col-md-4">
          <!--enter candidate picture on below-->
          <center>
          <a href="http://www.dmv.org/oh-ohio/voter-registration.php">
                  <img src="/assets/janeAddamsPics/registertovote.jpg" height="78" class="img-responsive" alt="Ohio Voter Registration"/>
        
         <h4><b>How to register</b></h4></a></center>
        </div>
        <div class="col-md-4">
          <!--enter candidate picture on below-->  
        <center>
        <a href="http://www.wikihow.com/Vote">
        <img src="/assets/janeAddamsPics/howtovote.jpg"  height="78" alt="how to vote" class="img-responsive" />
        
         <h4><b>How to vote</b></h4></a></center>
        </div>
    </div>

     <div class="row">
        
        <div class="col-md-4">
          <!--enter candidate picture below-->  
         
        <center>
        <a href="http://www.newsnet5.com/www.newsnet5.com/news/political/who-are-the-candidates-for-president-of-the-united-states">
            <img src="/assets/janeAddamsPics/candidates.jpg" height="78" class="img-responsive"  alt="2016 Political Candidates"/>
         <h4><b>who are the candidates</b></h4></a></center>
        </div>
        <div class="col-md-4">
          <!--enter candidate picture on below-->  
        <center><a href="http://ivn.us/2014/09/26/50-reasons-why-you-should-vote/">
        <img src="/assets/janeAddamsPics/why_vote.jpg" height="78" class="img-responsive" alt="Why Vote"/>
         <h4><b>why should i vote</b></h4></a></center>
        </div>
        <div class="col-md-4">
          <!--enter candidate picture on below-->  
        <center>
        <a href="http://www.usatoday.com/pages/interactives/elections-results-primaries-2016/#/">
        <img src="/assets/janeAddamsPics/bigstock.jpg" height="78" class="img-responsive" alt="Primaries"/>
         
         <h4><b>Results of the Primaries</b></h4></a>
         </center>
        </div>
    </div>