<script type="text/javascript">
document.getElementById('resourcesTab').id = 'selected'
</script>

<p><a href="http://google.com">Go To Google</a></p>

<p><a href="http://boe.cuyahogacounty.us/en-us/my-polling-location.aspx"> where to vote</a>

<p><a href="http://www.dmv.org/oh-ohio/voter-registration.php">How To Register</a></p>

<p><a href="http://www.wikihow.com/Vote">how to vote</a></p>

<p><a href="http://www.newsnet5.com/www.newsnet5.com/news/political/who-are-the-candidates-for-president-of-the-united-states">who are the candidates</a></p>

<p><a href="http://ivn.us/2014/09/26/50-reasons-why-you-should-vote/">why should i vote</a></p>

<p><a href="http://www.usatoday.com/pages/interactives/elections-results-primaries-2016/#/">results of the primaries</a></p>
