<h1>About CLETeenVote</h1>
<style>
#lawyers{
    width:150px;
    height:150px;}
#west{
    width:150px;
    height:150px;}
#csu{
    width:200px;
    height:150px;}
#cleveland{
    width:300;
    height:150;}
#wcci{
    width:490;
    height:150;
}
.sponsor{
    width:auto;
    height:auto;}

.boxed {
  border: 3px solid black;
  font-size:26px;
}

</style>

    <!--bootstrap grid-->
<div class="container"> <!--holds your stuff!-->
    <div class="row">
        <p>Various high schools created a section of the app.<br /> Each high school was required to take different steps to develop their pages. <br /> The app teen vote introduces teens to civic engagement which allows them to improve conditions for others and help shape the communities future.
    </p>
    </div>
     <div class="row">
         <div class="boxed col-md-6">
            <a href="#JohnMarshallIT">John Marshall IT</a> <br />
            <a href="#Shaw">Shaw</a><br />
            <a href="#Beaumont">Beaumont</a><br />
            <a href="#West shore tech">West Shore Tech</a><br />
            <a href="#JaneAddams">Jane Addams</a><br/>
        </div>
    </div>
    
      <div class="row">
   
            <div class="col-md-12">
                <h1>John Marshall IT</h1>
        
            </div>
  
      </div> 

    <a name="johnmarshallit" />
    <div class="row">
    <div class="col-md-4">
              <img src=" https://cleveland.schoolnet.com/files/user_images/tenants/1/hslogos/marshall.JPG" id="Lawyers" />
    </div>
    <div class="col-md-8">
        <p> We Are "IT" John Marshall School of Information Technology is creating the About and Contant Us page. Viewers will be able to learn about how the app came to be and how each school participated to contruct the overall results. </p>
    </div>
    </div>
    
    <div class="row">
       <div class="col-md-12">
            <h1>Jane Addams</h1>
        </div>
    </div> 

      <a name="JaneAddams" />

    <div class="row">
       <div class="col-md-4">
          <img src="http://coachesaid.com/Content/Mascots/oh-ohjabcc-letter-150.png" />
        </div>
          <div class="col-md-8">
             <p> Jane Addams High School is creating the homepage that will encourage visitors to participate in learning and voting. It will provide the viewers with information about the benefits on voting in Ohio.  </p>
          </div>
     
      </div>
      <div class="row">
              <div class="col-md-12">
                <h1>Shaw</h1>
              </div>
          </div> 

    <a name="Shaw" />
    <div class="row">
      
       <div class="col-md-4">
              <img src="http://coachesaid.com/Content/Mascots/oh-ohshs5-letter-150.png" />
              </div>
              <div class="col-md-8">
                 <p> Shaw High School is creating the page that allows users to explore current issues for them to learn about the political process. Shaw is also making a page to allow students to vote anonymously. </p>
              </div>
              </div>
              
              <div class="col-md-12">
            <h1>Beaumont</h1>
            
        </div>

<a name="Beaumont" />
<div class="row">
  
   <div class="col-md-4">
          <img src="http://www.holynamehs.net/wp-content/uploads/2012/08/beaumont_school.jpg" />
          </div>
          <div class="col-md-8">
             <p>Beaumont High School is contructing the page that let participates to clearly view the items on the ballot so that they can research them without having to vote. It allows participates to vote with information on the page to learn more about the election process and feel included.  </p>
          </div>
          </div>
          
           <div class="col-md-12">
        <h1>West Shore Tech</h1>
        
        </div>
  
<a name="West shore tech" />
<div class="row">
  
   <div class="col-md-4">
          <img src="http://www.lakewoodcityschools.org/docs/_full_West%20Shore%20ID%20Logo_edited-1.jpg" id="west" />
          </div>
          <div class="col-md-8">
             <p> West Shore Tech is developing the page that a voter will be accessed feedback after submitting their vote. They will display voting results of other teens using charts and graphs so viewers understand the other perspectives of different voters. </p>
          </div>
           
         </div>
         
<div class="row">
    <div class="col-md-2">
        <a href="https://www.att.com" target="_blank">
        
    <img class="img-responsive" src="assets/image/att_globe_200-1.png" />
    </a>
    </div>
    <div class="col-md-2">
    <a href="http://wecancodeit.org/"  target="_blank" />
    <img class="img-responsive" src="assets/image/WCCIT-logo-notag-600.png" id="wcci" />
    </a>
    </div>
    <div class="col-md-2">
    
    <a href="http://www.tri-c.edu" target="_blank" /> 
    <img class="img-responsive" src="assets/image/tri-c.jpg" /> 
    </a>
    </div>
    <div class="col-md-2">
    
    <a href="https://www.juniorachievement.org/web/ja-grcleveland"  target="_blank">
    <img class="img-responsive" src="assets/image/JAGreaterClevelandPro.gif" />
    </a>
    </div>
    <div class="col-md-2">
    
    <a href="http://www.csuohio.edu"  target="_blank">
    <img class="img-responsive" src="assets/image/csu.jpg" id="cleveland" />
    </a>
    </div>
    <div class="col-md-2">
    <a href="http://www.thisiscleveland.com"  target="_blank">
    <img class="img-responsive" src="assets/image/logo-destination_cleveland.jpg" />
    </a>
    </div>
    
</div>
   
   
</div>
