<h1>About CLETeenVote</h1>
<style>
#Lawyers{
    width:180px;
    height:150px;}
#west{
    width:150px;
    height:150px;}
#csu{
    width:200px;
    height:150px;}
#cleveland{
    width:300;
    height:150;}
#wcci{
    width:490;
    height:150;
}
.sponsor{
    width:auto;
    height:auto;}

.boxed {
  border: 3px solid black;
  font-size:26px;
}

</style>

    <!--bootstrap grid-->
<div class="container"> <!--holds your stuff!-->
    <div class="row">
        <p>Various high schools created a section of the app. Each high school was required to take different steps to develop their pages. <br /> The app teen vote introduces teens to civic engagement which allows them to improve conditions for others and help shape the communities future.
    </p>
    </div>
    <!--
     <div class="row">
         <div class="boxed col-md-6">
            <a href="#JohnMarshallIT">John Marshall IT</a> <br />
            <a href="#Shaw">Shaw</a><br />
            <a href="#Beaumont">Beaumont</a><br />
            <a href="#West shore tech">West Shore Tech</a><br />
            <a href="#JaneAddams">Jane Addams</a><br/>
        </div>
    </div> -->
    
      <div class="row">
   
            <div class="col-md-12">
                <h1>John Marshall IT</h1>
        
            </div>
  
      </div> 

    <a name="johnmarshallit" />
    <div class="row">
    <div class="col-md-4">
              <a href="http://www.wescheme.org/view?publicId=hGvz6VxLhx" target="_blank"><img src="/assets/johnMarshall/marshall.jpg" id="Lawyers" alt="John Marshall High School"/></a>
    </div>
    <div class="col-md-8">
        <h3>Team: We Are "IT" </h3>
        <p>John Marshall School of Information Technology is creating the About and Contant Us page. Viewers will be able to learn about how the app came to be and how each school participated to contruct the overall results. </p>
    </div>
    </div>
    
    <div class="row">
       <div class="col-md-12">
            <h1>Jane Addams</h1>
        </div>
    </div> 

      <a name="JaneAddams" />

    <div class="row">
       <div class="col-md-4">
          <img src="/assets/johnMarshall/addams.png" alt="Jane Addams High School"/>
        </div>
          <div class="col-md-8">
              <h3>Team: Kidz Next Door <br> Team: Digital Destroyers</h3>
             <p> Hello, this is Jane Addams business career center.
                We aren't really a coding type of school, we're strictly business but we decided to try something new, which is coding.   
                So far its been light weight and complicated but we are getting used to it.
                We decided to split into two teams which are kidz next door (to tri-c), and digital destroyers.
                The kidz next door focused on the homepage, and digital destroyers focused on our resources.
            </p>
          </div>
     
      </div>
      <div class="row">
              <div class="col-md-12">
                <h1>Shaw</h1>
              </div>
          </div> 

    <a name="Shaw" />
    <div class="row">
      
       <div class="col-md-4">
              <img src="/assets/johnMarshall/shaw.png" alt="Shaw High School"/>
              </div>
              <div class="col-md-8">
                  <h3>Team: Shaw <br> Team: Cardinals</h3>
                 <p> At Shaw High School in Mr. Dutton's Computer Science class we have been working on learning to code using 
                    Scratch and a variety of other technologies like HTML, CSS and JavaScript.  The issues team has been picking 
                    the different issues and looking up the different ways we could have the issues presented. We liked the idea 
                    of having a short video to accompany each issue to make it easier for the "voters" to understand.
                    
                    On the registration team, we have learned how to use Cloud9, Slack for communication and Ruby on Rails. We have learned how to program options 
                    for gender, age, school and more, including how to save all of the information in one place. Also, some of us have 
                    learned how to design databases using SQL!
                 </p>
              </div>
              </div>
              
              <div class="col-md-12">
            <h1>Beaumont</h1>
            
        </div>

<a name="Beaumont" />
<div class="row">
  
   <div class="col-md-4">
          <img src="/assets/johnMarshall/beaumont_school.jpg" alt="Beaumont School"/>
          </div>
          <div class="col-md-8">
              <h3>Team: Be@uTech</h3>
             <p>Beaumont School’s team Be@uTech is run by six juniors; Alex Andrus, Kimberly Browske, 
                Lindsey Clark, Alex Danford, Emma Rubadue, and Margaret Schiffer, and one senior, Josie Zucca. 
                We founded our club in 2014 to more fully integrate technology into daily life at Beaumont, as well as to promote 
                female presence in the world of technology. This project gave us the opportunity to fulfill our mission. Our team has 
                been working hard to complete our tasks of the Vote Now and Ballot pages. While our team had some difficulties, we worked hard to 
                “do it and make it better,” using Ruby, CSS, AND HTML. We would like to thank our moderators Sr. Ann and Mrs. Santo and our mentors, 
                Stephanie Gandy and Joel Byler for all their help, which was integral to our success in this project.
            </p>
          </div>
          </div>
          
           <div class="col-md-12">
        <h1>West Shore Tech</h1>
        
        </div>
  
<a name="West shore tech" />
<div class="row">
  
   <div class="col-md-4">
          <img src="/assets/johnMarshall/WestShore.jpg" id="west" alt="Lakewood City Schools"/>
          </div>
          <div class="col-md-8">
              <h3>Team: Lakewood Code Rangers</h3>
             <p> West Shore Tech took on the development of the Results and the "I Voted pages. The Lakewood Code Rangers learned how to make webpages starting from a wireframe and progressing into the first iteration.
             We divided our team into three teams: JavaScript, Design, and HTML based on our skills. As a team, we learned about JavaScript, Bootstrap, HTML, CSS and APIs.</p>
          </div>
           
         </div>
         
<div class="row">
    <div class="col-md-2">
        <a href="https://www.att.com" target="_blank">
        
    <img class="img-responsive" src="assets/image/att_globe_200-1.png" alt="ATT" />
    </a>
    </div>
    <div class="col-md-2">
    <a href="http://wecancodeit.org/"  target="_blank" />
    <img class="img-responsive" src="assets/image/WCCIT-logo-notag-600.png" id="wcci" alt="We Can Code IT"/>
    </a>
    </div>
    <div class="col-md-2">
    
    <a href="http://www.tri-c.edu" target="_blank" /> 
    <img class="img-responsive" src="assets/image/tri-c.jpg" alt="Cuyahoga Community College" /> 
    </a>
    </div>
    <div class="col-md-2">
    
    <a href="https://www.juniorachievement.org/web/ja-grcleveland"  target="_blank">
    <img class="img-responsive" src="assets/image/JAGreaterClevelandPro.gif" alt="Junior Achievement" />
    </a>
    </div>
    <div class="col-md-2">
    
    <a href="http://www.csuohio.edu"  target="_blank">
    <img class="img-responsive" src="assets/image/csu.jpg" id="cleveland" alt="Cleveland State University" />
    </a>
    </div>
    <div class="col-md-2">
    <a href="http://www.thisiscleveland.com"  target="_blank">
    <img class="img-responsive" src="assets/image/logo-destination_cleveland.jpg" alt="This is Cleveland"/>
    </a>
    </div>
    
</div>
   
   
</div>
