	body {
		/*background: #ff8800;*/
		font: 1em arial, helvetica, sans-serif;
		/*text-transform: lowercase;*/
		margin: 0;
		padding: 0;
	}
	
	#myTabHeader {
		background-color:pink;
		
		
	}
	
    #myTabHeader ul {
		list-style: none;
		padding: 0;
		margin: 0;
		background: white;
		float: left;
		width: 100%;
    }
    
	#myTabHeader li {
		float: left;
		margin: 0 1em 0 0;
    }
    
	#myTabHeader a {
		font: 1.6em arial, helvetica, sans-serif;
		text-decoration: none;
		display: block;
		width: 6em;
		padding: 0 0.5em;
		font-weight: bold;
		color: black;
		border-bottom: 0.5em solid #ffcc66;  /*unselected colors*/
		color: #ffcc66;
    }
	
	/*#myTabHeader a:hover {
		color: #ffaa33;
		border-color: #ffaa33;
	}
	
	*/#myTabHeader #selected a { /* used with the javascript */
		color: #ff8800;
		border-color: #ff8800; 
	}
	
	/*#myTabHeader #selected a:hover {
		color: green;
		border-color: green;
	}
	
	*/#content {
		clear: both;
		/*color: white;*/
		padding: 1em;
	}
	
	#content p {
		margin: 0 0 1em 0;
	}
	
	h1 {
		margin: 0;
		padding: 0.5em 0 1em 0.5em;
		color: #ff8800;
		font-size: 1.5em;
		font-style: italic;
	}