
$.alert({
    title: 'Are you sure? ',
    content: 'Do you still want to vote for ____!',
    confirm: function(){
        $.alert('Confirmed!'); // shorthand.
    }
});

<h1>Your vote has been recorded!</h1> 

