<!--Message to thank users for placing their votes, and let the users know that their vote has been recorded-->
<h1>Thank you!</h1>
<h1>Your vote has been recorded.</h1>
<!--CLE Teen Hack Image by Alex Andrus-->
<%= image_tag("cle_teen_hack_filter_logo.png") %>
