<h1>Votes#create</h1>
<p>Find me in app/views/votes/create.html.erb</p>

<p>Are you sure you want to vote

<%> we werent sure how to add the confirmation to vote for each candidate 
we wanted to create a page between the voting page and when the votes are recorded but we don't know how to put it in code.  
we also wanted to make sure the varible was equal to the name of the button 
so: Are you sure you want to vote for variable1 for World's Greatest Hero?
Are you sure you want to vote for variable2 for Heroine?
Are you sure you want to vote for variable3 for Most Sinister Villian? 
Confirm button
we don't understand how to put it into rails 

%/> 

</p>

<h1>Your vote has been recorded!</h1>