<h1>Results</h1>
<!--add google charts api -->
<%= javascript_include_tag "//www.google.com/jsapi" %> 
<%= javascript_include_tag "application", "chartkick" %>  
   <%@issues.each do |issue| %>
    
    <%teenvotes = {}%>
    <h2><%=issue.title%></h2>
    <% @choices = Choice.where(:issue => issue.id)%>
 
 
    <%@choices.each do |choice| %>
    
      <% @votes = Vote.where(:choice => choice.id)%>
    <%
    teenvotes[choice.title] = @votes.count
    %>
    <%end%>
      <%= pie_chart(teenvotes.stringify_keys) %>
  <%end %>      
